.font_lemon {
    font-family: 'Roboto Slab', sans-serif;
}

.not_display{
    display: none !important;
}

.font_size_10{
    font-size: 14px !important;
}

.custom_table td {
    border-spacing: 0 !important;
    border: none !important;
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}


.not_margin_td{
    border-spacing: 0 !important;
    border: none !important;
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}